.user-list-container {
    box-shadow: 0px 0px 2px 1px #ccc;
    margin-top: 0px;
    max-height: 340px;
    overflow: auto;
    mark {
        background-color: #6a6af1;
        color: #fff;
    }
    .user-list-main {
        font-size: 14px;
        padding: 15px 5px;
        border-bottom: 1px solid #cccc;
        cursor: pointer;
        &.active {
            background: rgb(237, 237, 184);
        }
        .user-items {
            padding: 5px 10px;
            margin: 0;
        }
        .user-id {
            font-weight: bold;
        }
        .user-name {
            color: RGBA(94 89 89 / 80%);
            font-style: italic;
        }
        .user-address {
            font-size: 12px;
            color: RGBA(94 89 89 / 80%);
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
.li-user-items {
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
    padding: 5px 0;
   padding-inline-start: 25px;
    margin-block-start: 0;
    margin-block-end: 0;
    li {
        &::marker {
            color: #6a6af1;
            padding: 10px;
        }
    }
}
.no-result-text {
    padding: 5px 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: 0px 0px 2px 1px #ccc;
}